---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign publication_entries = site.publications | sort: "sort_order" %}

<section class="publication-list" aria-labelledby="publications-heading">
  <h2 id="publications-heading">Publications</h2>
  <ul class="publication-list">
    {% for post in publication_entries %}
      {% if post.category == "publications" %}
        {% include publication-list-item.html %}
      {% endif %}
    {% endfor %}
  </ul>
</section>

<section class="publication-list" aria-labelledby="preprints-heading">
  <h2 id="preprints-heading">Preprints</h2>
  <ul class="publication-list">
    {% for post in publication_entries %}
      {% if post.category == "preprints" %}
        {% include publication-list-item.html %}
      {% endif %}
    {% endfor %}
  </ul>
</section>


