---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign publication_entries = site.publications | where_exp: "post", "post.category != 'expository'" | sort: "date" | reverse %}
{% assign expository_entries = site.publications | where: "category", "expository" | sort: "date" | reverse %}

<section class="publication-list" aria-labelledby="publications-heading">
  <h2 id="publications-heading">Publications and Preprints</h2>
  <ul class="publication-list">
    {% for post in publication_entries %}
      {% include publication-list-item.html %}
    {% endfor %}
  </ul>
</section>

<section class="publication-list" aria-labelledby="expository-heading">
  <h2 id="expository-heading">Expository</h2>
  <ul class="publication-list">
    {% for post in expository_entries %}
      {% include publication-list-item.html %}
    {% endfor %}
  </ul>
</section>
